<script src="{{ url_for('static', filename='vendor/codemirror/lib/codemirror.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/codemirror/mode/clike/clike.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/codemirror/addon/edit/closebrackets.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/codemirror/addon/edit/matchbrackets.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/codemirror/addon/comment/comment.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/codemirror/addon/search/searchcursor.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/codemirror/addon/search/search.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/codemirror/addon/dialog/dialog.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/codemirror/addon/hint/show-hint.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/codemirror/addon/selection/active-line.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/editor-c.js') }}"></script>
