<!DOCTYPE html>
<html>
<head>
  <title>Lição</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<div class="container">
  <button onclick="voltar()">⬅ Voltar</button>
  <h1 id="title"></h1>

  <p id="theory"></p>

  <pre id="code"></pre>

  <div id="challenge-area" style="display:none;">
    <input id="answer" placeholder="Digite sua resposta">
    <button onclick="verificar()">Verificar</button>
  </div>

  <button id="nextBtn" onclick="proxima()">Continuar</button>

  <p id="feedback"></p>
</div>

<script src="/static/script.js"></script>
</body>
</html>